
@font-face {
  font-family: 'BrixSansBlack';
  src: url('BrixSansBlack.eot?#iefix') format('embedded-opentype'),  url('BrixSansBlack.otf')  format('opentype'),
	     url('BrixSansBlack.woff') format('woff'), url('BrixSansBlack.ttf')  format('truetype'), url('BrixSansBlack.svg#BrixSansBlack') format('svg');
  font-weight: normal;
  font-style: normal;
}
