
@font-face {
  font-family: 'BrixSansMedium';
  src: url('BrixSansMedium.eot?#iefix') format('embedded-opentype'),  url('BrixSansMedium.otf')  format('opentype'),
	     url('BrixSansMedium.woff') format('woff'), url('BrixSansMedium.ttf')  format('truetype'), url('BrixSansMedium.svg#BrixSansMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
