
@font-face {
  font-family: 'Kabrio';
  src: url('Kabrio.eot?#iefix') format('embedded-opentype'),  url('Kabrio.woff') format('woff'), url('Kabrio.ttf')  format('truetype'), url('Kabrio.svg#Kabrio') format('svg');
  font-weight: normal;
  font-style: normal;
}
